STRIPE_PUBLIC_KEY=pk_test_
STRIPE_SECRET_KEY=sk_test_
STRIPE_CURRENCY=eur
MAIL_HOST=smtp.ionos.fr
MAIL_PORT=587
MAIL_USER=contact@ginkgomarket.fr
MAIL_PASS=
MAIL_FROM=contact@ginkgomarket.fr
MAIL_FROM_NAME=GinkGoMarket
